body{
	/*	background-color:#228b22;
	}*/
	background:linear-gradient(180deg,#228b22 50%, #00ff00);
	height: 100%;
	margin:0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	display: block;
	color: white;
	text-align: center; 
	padding: 0;
	text-decoration: none;
	font-family: "Verdana", sans-serif;
	font-weight: bold;

}

.topbar{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #670a0a;
}
.topbar li, .midbar li{
	float: left;
}
.topbar li a, .dropbtn{
	display: block;
	color: white;
	text-align: center; 
	padding: 14px 16px;
	text-decoration: none;
	font-family: "Verdana", sans-serif;
	font-weight: bold;
}
li a:hover, .dropdown:hover .dropbtn{
	background-color: #AB4E52;
}
.first-dropdown{
	display: none;
	position: absolute;
	background-color:#670a0a;
	min-width: 100px;
	z-index: 1;
}
.first-dropdown a{
	color:white;
	padding: 12px 14px;
	display: block;
	text-align: center;
}
.first-dropdown a:hover{
	background-color: #AB4E52;
}
.dropdown:hover .first-dropdown{
	display:block;
}


iframe{
	width: 100%;
	height: 100vh;
	margin: 0 auto;
	position: relative;
	float: center;
}

.about {
	display: block;
	margin:1.5em;
	text-align: left;
}

#contributors{
	text-decoration: none;
}

div p {
	color: wheat;
	font-size: 1.5em;
}

h1 {
	font-size: 3em;
}

#contributors li {
	color: wheat;
	text-decoration: none;
	font-size: 1.5em;
}